
@{
    Layout = null;
}

<!DOCTYPE html>
<link href="~/Content/bootstrap.rtl.min.css" rel="stylesheet" />

<html>

<head>
    <script src="https://kit.fontawesome.com/yourcode.js" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        body {
            font-family: "Lato", sans-serif;
        }

        .sidebar {
            height: 100%;
            width: 240px;
            position: fixed;
            z-index: 1;
            top: 0;
            left: 0;
            background-color: #111;
            overflow-x: hidden;
            padding-top: 16px;
        }

            .sidebar a {
                padding: 6px 8px 6px 16px;
                text-decoration: none;
                font-size: 20px;
                color: #818181;
                display: block;
            }

                .sidebar a:hover {
                    color: ghostwhite;
                }

        .main {
            margin-left: 240px; /* Same as the width of the sidenav */
            padding: 0px 10px;
        }

        @@media screen and (max-height: 450px) {
            .sidebar {
                padding-top: 15px;
            }

                .sidebar a {
                    font-size: 18px;
                }
        }
    </style>
</head>
<body>

    <div class="sidebar">
        <a href="#home"><i class="fa fa-fw fa-home" style="font-size: 26px"></i> Ana Sayfa</a>
        <a href="/Kategori/Index/"><i class="fa fa-fw fa-list"  style="font-size: 26px"></i> Kategoriler</a>
        <a href="/Kitap/Index/"><i class="fa fa-fw fa-book"  style="font-size: 26px"></i> Kitaplar</a>
        <a href="/Yazar/Index/"><i class="fa fa-fw fa-pencil"  style="font-size: 26px"></i> Yazarlar</a>
        <a href="#contact"><i class="fa fa-fw fa-user"  style="font-size: 26px"></i> Kullanıcılar</a>
        <a href="#contact"><i class="fa fa-drivers-license-o" style="font-size: 26px"></i> Personeller</a>
        <a href="#contact"><i class="fa fa-hand-o-up" style="font-size: 26px"></i> Ödünç Kitap Ver</a>
        <a href="#contact"><i class="fa fa-hand-o-down" style="font-size: 26px"></i> Ödünç Kitap Al</a>
        <a href="#contact"><i class="	fa fa-usd" style="font-size: 26px"></i> Kasa</a>
        <a href="#contact"><i class="fa fa-clipboard" style="font-size: 26px"></i> İşlemler</a>
        <a href="#contact"><i class="fa fa-cog" style="font-size:26px"></i> Ayarlar</a>
        <a href="#contact"><i class="fa fa-info" style="font-size: 26px"></i> Yardım</a>
        <a href="#contact"><i class="	fa fa-remove" style="font-size: 26px"></i>Çıkış</a>
    </div>

    <div class="main">
        @RenderBody()
    </div>

</body>
</html>
