@using MvcKutuphane.Models.Entity
@model List<TBLMESAJLAR>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/LayoutPanel.cshtml";
}

<h2>Mesajlar Sayfası</h2>

<br />
<div class="col-md-4 d-flex justify-content-end">
    <a href="" class="btn btn-success">Yeni Mesaj</a>
</div>
<table class="table table-bordered table table-striped">
    <tr>
        <th>Gönderen</th>

        <th>Konu</th>
        <th>Tarih</th>
        <th>Durum</th>
        <th>Mesaj Görüntüle</th>
        <th>Mesaj Gönder</th>

    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@item.GONDEREN</td>

            <td>@item.KONU</td>
            <td>@item.TARIH</td>
            <td>@item.DURUM</td>
            <td>
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                    Mesaj Görüntüle
                </button>
            </td>
            <td>
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                    Mesaj Gönder
                </button>
            </td>
        </tr>
    }
</table>


<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">Mesaj İçeriği</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                Mesajlar burada olacak

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Kapat</button>
                <button type="button" class="btn btn-primary">Okundu</button>
            </div>
        </div>
    </div>
</div>
