@using MvcKutuphane.Models.Entity
@model List<TBLPERSONEL>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h2>Personel İşlemleri</h2>

<br />
<table class="table table-bordered table table-striped">
    <tr>
        <th>Personel Id</th>
        <th>Personel Adı / Soyadı</th>
        <th>Sil</th>
        <th>Güncelle</th>

    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@item.ID</td>
            <td>@item.AdSoyad</td>
            <td>
                <a href="/Personel/PersonelSil/@item.ID" class="btn btn-danger"> Sil</a>
            </td>
            <td>
                <a href="/Personel/PersonelGetir/@item.ID" class="btn btn-warning"> Güncelle</a>
            </td>
        </tr>
    }
</table>
<a href="/Personel/PersonelEkle/" class="btn btn-success"> Personel Ekle</a>