@model MvcKutuphane.Models.Entity.TBLPERSONEL

@{
    ViewBag.Title = "PersonelEkle";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h2>PersonelEkle</h2>

<form class="form-group" method="post">
    <div>
        <label>Personel Adı / Soyadı </label>
        <br />
       @Html.TextBoxFor(x=>x.AdSoyad,new {@class="form-control" })
        @Html.ValidationMessageFor(x=>x.AdSoyad,"",new {@style="color:red"})
    </div>
    <div style="margin-top:15px">
        <button class="btn btn-success" id="BtnEkle">Ekle</button>
    </div>
</form>